
body{
    background-color:#f9f9f9;
    text-align: center;
}

a:hover{
  text-decoration: underline;
  font-size: large;
}

a{
    color: #000;
    background-color: rgb(182, 119, 182);
}


footer {
    color: #fff;
    background-color: #000;
}
